<div class="row content" >
  <div class="col-sm-2 sidenav" id="insuranceSummary">
    <div class="row">
      <mat-card class="title_center" appearance="outlined">
        <mat-card-header class="header ">
          <mat-card-title>Active Insurances</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <div *ngFor="let item of activeInsuranceData" class="cardContent">
            <div class="row">
              <div class="col-xs-4">
                <b>Type:</b>
              </div>
              <div class="col-xs-8">
                {{item.insuranceType}}
              </div>
            </div>
            <div class="row">
              <div class="col-xs-4"><b>Provider:</b> </div>
              <div class="col-xs-8 insurance-provider" matTooltip="{{item.insuranceProvider}}"
              matTooltipPosition="above">{{item.insuranceProvider}} </div>
            </div>
            <div class="row">
              <div class="col-xs-4"><b>Number:</b> </div>
              <div class="col-xs-8  policy-number"  matTooltip="{{item.policyNumber}}"
              matTooltipPosition="above">{{item.policyNumber}}</div>
            </div>
          </div>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
  <div class="col-sm-7">
    <div class="row">
      <div class="col-xs-10">
        <h3 class="brandcolor">Insurance Details</h3>
      </div>
      <div class="col-xs-2 doNotPrint">

        <button class="printIcon" [matTableDataSource]="dataSource" [paginator]="paginator" paginatorId="mat-paginator"
          [hidePaginator]="true" mat-raised-button [useExistingCss]="true" printTitle="InsuranceDetails" type="button"
          printSectionId="insuranceDetails" optionalPrintSectionId="insuranceSummary"ngxPrint matTooltip="Print"
          matTooltipPosition="before"><mat-icon>print</mat-icon></button>
      </div>
    </div>
    <hr class="lineBreak doNotPrint">
    <div class="row">
      <div class="col-xs-12">
        <mat-form-field class="doNotPrint">
          <mat-icon matTextPrefix>search</mat-icon>
          <input matInput (keyup)="applyFilter($event)" #input>
        </mat-form-field>
        <div class="mat-elevation-z8" id="insuranceDetails">
          <table mat-table [dataSource]="dataSource" class="table-container" matSort>
            <ng-container matColumnDef="insuranceType">
              <th mat-header-cell *matHeaderCellDef mat-sort-header class="tableHeader">Insurance Type</th>
              <td mat-cell *matCellDef="let element">{{element.insuranceType}}</td>
            </ng-container>

            <ng-container matColumnDef="insuranceProvider">
              <th mat-header-cell *matHeaderCellDef mat-sort-header class="tableHeader">Insurance Provider</th>
              <td mat-cell *matCellDef="let element">{{element.insuranceProvider}}</td>
            </ng-container>

            <ng-container matColumnDef="policyNumber">
              <th mat-header-cell *matHeaderCellDef mat-sort-header class="tableHeader">Policy Number</th>
              <td mat-cell *matCellDef="let element">{{element.policyNumber}}</td>
            </ng-container>

            <ng-container matColumnDef="nominee">
              <th mat-header-cell *matHeaderCellDef mat-sort-header class="tableHeader">Nominee</th>
              <td mat-cell *matCellDef="let element">{{element.nominee}}</td>
            </ng-container>

            <ng-container matColumnDef="startDate">
              <th mat-header-cell *matHeaderCellDef mat-sort-header class="tableHeader">Start Date</th>
              <td mat-cell *matCellDef="let element">{{element.startDate }}</td>
            </ng-container>

            <ng-container matColumnDef="endDate">
              <th mat-header-cell *matHeaderCellDef mat-sort-header class="tableHeader">End Date</th>
              <td mat-cell *matCellDef="let element">{{element.endDate }}</td>
            </ng-container>
            <ng-container matColumnDef="additionalDetails">
              <th mat-header-cell *matHeaderCellDef mat-sort-header class="tableHeader"> Additional Details</th>
              <td mat-cell *matCellDef="let element" class="comments-cell">
                <div *ngIf="element.isEditing; else viewMode">
                  <mat-form-field appearance="outline" class="additional-details-input">
                    <input matInput [(ngModel)]="element.additionalDetails" placeholder="Enter additional details">
                  </mat-form-field>
                </div>
                <ng-template #viewMode>
                  <div matTooltip="{{element.additionalDetails}}" matTooltipPosition="above" class="comments-content">
                    {{element.additionalDetails}}
                  </div>
                </ng-template>
              </td>
            </ng-container>
            <ng-container matColumnDef="actionsColumn">
              <th mat-header-cell *matHeaderCellDef class="tableHeader doNotPrint"> </th>
              <td mat-cell *matCellDef="let row;" class="doNotPrint">
                <button class="buttonIcon" (click)="enableEdit(row)" matTooltip="Edit Data" *ngIf="!row.isEditing">
                  <mat-icon>edit</mat-icon>
                </button>
                <button class="buttonIcon" (click)="updateRecord(row)" matTooltip="Save updated Data" *ngIf="row.isEditing">
                  <mat-icon>save</mat-icon>
                </button>
                <button class="buttonIcon" (click)="deleteRow(row)"  matTooltip="Delete Record"
                matTooltipPosition="after">
                <mat-icon>delete</mat-icon>
                </button>
              </td>
            </ng-container>
            <!-- Header and Row Declarations -->
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            <!-- Row shown when there is no matching data. -->
            <tr class="mat-row" *matNoDataRow>
              <td class="mat-cell" colspan="4">No data matching the filter "{{input.value}}"</td>
            </tr>
          </table>
          <mat-paginator [pageSizeOptions]="[5, 10, 20]" aria-label="Select page " id="mat-paginator"
            showFirstLastButtons></mat-paginator>
        </div>
      </div>
    </div>

  </div>
  <div class="col-sm-3 sidenav doNotPrint">
    <div class="row">
      <h3 class="header">Add Insurance Details</h3>
    </div>
    <form [formGroup]="formGroup" (ngSubmit)="onSubmit(formGroup.value)" class="form">
      <div class="row">
        <mat-form-field appearance="outline" class="customformat">
          <mat-label>Insurance Type</mat-label>
          <mat-select placeholder="Insurance Type" formControlName="insuranceType">
            <mat-option *ngFor="let insuranceType of insuranceTypes" [value]="insuranceType.id">{{ insuranceType.value }}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div class="row">
        <mat-form-field appearance="outline" class="customformat">
          <mat-label>Insurance Provider</mat-label>
          <input matInput placeholder="Insurance Provider" formControlName="insuranceProvider">
        </mat-form-field>
      </div>
      <div class="row">
        <mat-form-field appearance="outline" class="customformat">
          <mat-label>Policy Number</mat-label>
          <input matInput placeholder="Policy Number" formControlName="policyNumber">
          <mat-error *ngIf="formGroup.get('policyNumber').hasError('pattern')">
            Please Enter only Numbers!
          </mat-error>
        </mat-form-field>
      </div>
      <div class="row">
        <mat-form-field appearance="outline" class="customformat">
          <mat-label>Nominee Details</mat-label>
          <input matInput placeholder="Nominee Details" formControlName="nominee">
        </mat-form-field>
      </div>
      <div class="row">
        <mat-form-field appearance="outline" class="customformat">
          <mat-label>StartDate</mat-label>
          <input matInput [matDatepicker]="startDatePicker" placeholder="Start Date" formControlName="startDate">
          <mat-datepicker-toggle matSuffix [for]="startDatePicker"></mat-datepicker-toggle>
          <mat-datepicker #startDatePicker></mat-datepicker>
        </mat-form-field>
      </div>
      <div class="row">
        <mat-form-field appearance="outline" class="customformat">
          <mat-label>EndDate</mat-label>
          <input matInput [matDatepicker]="endDatePicker" placeholder="End Date" formControlName="endDate">
          <mat-datepicker-toggle matSuffix [for]="endDatePicker"></mat-datepicker-toggle>
          <mat-datepicker #endDatePicker></mat-datepicker>
        </mat-form-field>
      </div>
      <div class="row">
        <mat-form-field appearance="outline" class="customformat">
          <mat-label>Additional Details</mat-label>
          <input matInput placeholder="Additional Details" formControlName="additionalDetails">
        </mat-form-field>
      </div>
      <div class="row">
        <button color="primary" type="submit" class="button">Submit</button>
        <a color="primary" (click)="clear()">Clear</a>
      </div>
      <br>
    </form>
  </div>