
#insuranceSummary mat-card-content {
    max-height: 500px;
    /* Set a fixed height for the content */
    overflow-y: auto;
    /* Enable vertical scrolling */
    overflow-x: hidden;
    /* Disable horizontal scrolling */
    padding-right: 10px;
    /* Add padding to avoid scrollbar overlap */
  }
  .policy-number {
    white-space: nowrap; /* Prevent text from wrapping */
    overflow: hidden;    /* Hide overflowed text */
    text-overflow: ellipsis; /* Add ellipsis for overflowed text */
    display: block;      /* Ensure block-level behavior */
  } 

  .insurance-provider {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      max-width: 200px;
   }
   
  .table-container {
    overflow-x: auto;
    -webkit-overflow-scrolling: touch; /* Smooth scrolling for mobile devices */
  }
  
  table {
    min-width: 1200px; /* Adjust this value based on your table's content */
  }