.status-dropdown {
  width: 65%;
  margin-top: 10px;
}

.wrap-content {
  white-space: normal;
  /* Allow text to wrap */
  word-wrap: break-word;
  /* Break long words if necessary */
  overflow-wrap: break-word;
  /* Ensure proper wrapping for long words */
}

#investmentSummary mat-card-content {
  max-height: 500px;
  /* Set a fixed height for the content */
  overflow-y: auto;
  /* Enable vertical scrolling */
  overflow-x: hidden;
  /* Disable horizontal scrolling */
  padding-right: 10px;
  /* Add padding to avoid scrollbar overlap */
}