<div class="row content" >
  <!-- Summary View -->
  <div id="print-summary" *ngIf="selectedView === 'summary'" class="col-sm-12">
    <app-expense-summary-table></app-expense-summary-table>
  </div>

  <!-- Monthly View -->
  <div *ngIf="selectedView === 'monthly'">
    <div id="print-section" class="col-sm-8">
      <app-expense-monthly-table></app-expense-monthly-table>
    </div>
    <div class="col-sm-4 right">
      <app-monthly-income id="print-income"></app-monthly-income>
    </div>
  </div>

  <!-- Yearly View -->
  <div id="print-yearly" *ngIf="selectedView === 'yearly'" class="col-sm-12">
    <app-expense-yearly></app-expense-yearly>
  </div>
</div>