mat-card-content {
    font-size: 13px !important;
}

.header {
    font-size: 14px !important;
}

.subHeader {
    font-weight: bold;
    margin-top: 0.5em;
}

.mat-mdc-progress-bar.mat-primary {
    --mdc-linear-progress-active-indicator-color: green !important;
}

.mat-mdc-progress-bar.mat-warn {
    --mdc-linear-progress-active-indicator-color: orange !important;
}


@media print {

    mat-card,
    mat-expansion-panel {
        page-break-inside: avoid;
        border: 2px solid #075068f8 !important;
        margin-top: 5% !important;
        margin-right: 5% !important;
        margin-left: 5% !important;
    }
}