<h3 class="brandcolor">Application Configs</h3>

<div class="row">
    <div class="col-xs-2"></div>
    <div class="col-xs-8 center">
        <div class="row">
            <div class="col-xs-12">
                <button mat-button (click)="addData()" class="button" mat-flat-button color="primary">Add Row</button>
                <button mat-button (click)="saveData()" class="button" mat-flat-button color="primary">Submit</button>
                <button mat-button (click)="saveDefaultConfigData()" class="button" mat-flat-button color="primary">Load Default</button>
            </div>
        </div>
        <div class="row">
            <table mat-table [dataSource]="dataSource" #mytable class="my-table mat-elevation-z8">

                <!-- Key Column -->
                <ng-container matColumnDef="key">
                    <th mat-header-cell *matHeaderCellDef class="tableHeader doNotPrint"> Key </th>
                    <td mat-cell *matCellDef="let element">
                        <mat-form-field>
                            <mat-label>Key</mat-label>
                            <input matInput placeholder="Key" [value]="element.key" [(ngModel)]="element.key"
                            [readonly]="!element.isNew">
                        </mat-form-field>
                    </td>
                </ng-container>

                <!-- description Column -->
                <ng-container matColumnDef="value">
                    <th mat-header-cell *matHeaderCellDef class="tableHeader doNotPrint"> Value </th>
                    <td mat-cell *matCellDef="let element">
                        <mat-form-field style="width: 100%;">
                            <mat-label>Value</mat-label>
                            <textarea matInput placeholder="Value" [(ngModel)]="element.value">{{element.value}}</textarea>
                        </mat-form-field>
                    </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>
        </div>
        <div class="col-xs-2"></div>
    </div>
</div>