.wrap {
    display: flex;
    margin: 0 auto;
    flex-wrap: wrap;
}

.fitness-detail {
    height: 200px;
    width: 350px;
}

.card {
    border: 1px solid black;
    border-radius: 5px;
    text-align: center;
    width: 350px;
    max-width: 500px;
    margin-left: 100px;
    background-color: lightgrey;
    color: black;
    text-align: center;
    margin: 10px;
}

img {
    border-radius: 15px;
}

.person {
    margin-top: 20px;
    margin-bottom: 10px;
}

.mat-mdc-card-avatar {
    height: 50px;
    width: 50px;
}

.mat-mdc-card-content {
    padding: 10px 10px !important
}

.printAlign {
    text-align: right;
}

@media print {
    img {
        margin-left: 0px !important;
    }

}