<div class="row brandcolor header-bar">
  <div class="col-xs-10 header-container">
    <mat-icon class="header-icon">self_improvement</mat-icon>
    <h3 class="header-title">Fitness Tracker</h3>
  </div>
  <div class="col-xs-2 person doNotPrint">
    <button mat-icon-button (click)="addPerson()" matTooltip="Add Person">
      <mat-icon>person_add</mat-icon>
    </button>
    <button mat-icon-button (click)="printData()" matTooltip="Print" matTooltipPosition="after">
      <mat-icon>print</mat-icon>
    </button>
  </div>
</div>
<hr class="lineBreak">
<div class="cards-container">
    <mat-card class="fitness-card" *ngFor="let data of fitnessData">
      <!-- Avatar & Info -->
      <div class="top-section">
        <img [src]="data.personPic || 'img/img_avatar.png'" class="avatar" />
        <div class="info">
          <h3 class="name">{{ data.personName }}</h3>
          <div class="stats">
            <div><strong>Height:</strong> {{ data.currentHeight }} cm</div>
            <div><strong>Weight:</strong> {{ data.currentWeight }} kg</div>
          </div>
        </div>
        <div class="col-xs-1">
          <button class="doNotPrint buttonIcon" (click)="deleteRow(data)"  matTooltip="Delete Record"
          matTooltipPosition="after"> <mat-icon>delete</mat-icon> </button>
        </div>
      </div>
  
      <!-- Action Buttons Row -->
      <div class="action-row doNotPrint">
        <!-- Weight -->
        <div class="action-group">
          <div class="action-title">
            <mat-icon color="primary">fitness_center</mat-icon> Weight
          </div>
          <div class="action-buttons">
            <button mat-icon-button (click)="addWeightDetails(data)">
              <mat-icon color="primary">add</mat-icon>
            </button>
            <button mat-icon-button (click)="openWeightDetails(data)">
              <mat-icon color="primary">visibility</mat-icon>
            </button>
          </div>
        </div>
  
        <!-- Medical -->
        <div class="action-group">
          <div class="action-title">
            <mat-icon color="primary">medical_services</mat-icon> Medical
          </div>
          <div class="action-buttons">
            <button mat-icon-button (click)="addMedicalDetails(data)">
              <mat-icon color="primary">add</mat-icon>
            </button>
            <button mat-icon-button (click)="openMedicalDetails(data)">
              <mat-icon color="primary">visibility</mat-icon>
            </button>
          </div>
        </div>
      </div>
  
      <!-- Chart -->
      <div
        class="chart-container"
        [class.expanded]="expandedChart === data.personId"
        (click)="toggleChartExpand(data.personId)"
      ><h5 class="chart-title brandcolor doNotPrint">Click here to view Weight Trend</h5>
        <app-fitness-detail [trend]="data.trend"></app-fitness-detail>
      </div>
    </mat-card>   
</div>