<div class="row content">
    <div class="col-sm-2 sidenav">
      <ul class="nav ">
        <li><a >Health</a></li>
        <li><a >Term</a></li>
        <li><a >Property</a></li>
        <li><a >Veichle</a></li>
      </ul>
    </div>
    <div class="col-sm-8"> 
     <div> <h1 class="text-center">Insurence Details</h1>
      <p>Places holder for insurence details</p> </div>
    </div>
    <div class="col-sm-2 sidenav">
      <div class="well">
        <p>Place holder for details</p>
      </div>
    </div>
  </div>