.navbar {
  margin-bottom: 0;
  border-radius: 0;
}

/* Set height of the grid so .sidenav can be 100% (adjust as needed) */
.row.content {
  height: 450px
}

/* Set gray background color and 100% height */
.sidenav {
  padding-top: 20px;
  height: 135%;
  background-color: #f5f5f5;
  border: 1px solid #e3e3e3;
  border-radius: 4px;
}

.tableHeader {
  background-color: #075068f8 !important;
  color: white !important;
  font-family: Arial, Helvetica, sans-serif !important;
  font-weight: normal !important;
}

.titleHeader {
  text-align: center;
  color: white !important;
  background-color: #075068f8 !important;
}

.myFont {
  font-family: Arial, Helvetica, sans-serif !important;
  font-weight: normal !important;
}

.header {
  color: #075068f8 !important;
  font-size: 16px;
  font-family: Arial, Helvetica, sans-serif !important;
  font-weight: normal !important;
}

.title_center {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px !important;
}

.brandcolor {
  color: #075068f8;
}

.button {
  display: inline-block;
  padding: 10px 10px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #fff;
  background-color: #075068f8;
  border: none;
  border-radius: 15px;
  font-family: Arial, Helvetica, sans-serif !important;
  font-weight: normal !important;
}

.lineBreak {
  height: 2px;
  border-width: 0;
  background-color: #075068f8;
}

.rupee {
  font-family: 'Material Icons';
}

.buttonIcon {
  border: none;
  color: #075068f8;
  background-color: transparent;
}

.printIcon {
  border: none;
  color: #075068f8;
  background-color: transparent;
  padding-top: 20px;
}

.profileDisplay {
  padding-top: 10px;
}

.profileIcon {
  border: none;
  color: white;
  background-color: transparent;
}

.profileName {
  padding-top: 20px;
}

.profileAlign {
  padding-left: 70px;
}

.satisfied {
  color: green;
}

.disatisfied {
  color: red;
}

.onTarget {
  color: yellowgreen;
}

.notification {
  background-color: #4caf50;
  color: white;
  padding: 15px;
  position: fixed;
  top: 10px;
  right: 10px;
  border-radius: 5px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: opacity 0.5s;
}

.comments-cell {
  max-width: 200px; /* Adjust the width as needed */
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.comments-content {
  max-height: 50px; /* Adjust the height as needed */
  overflow-y: auto; /* Enable vertical scrolling */
  overflow-x: hidden; /* Disable horizontal scrolling */
  word-wrap: break-word; /* Ensure long words are wrapped */
  white-space: normal; /* Allow text to wrap */
}

.mat-elevation-z8 {
  width: 100%;
  /* Ensure the table takes the full width of its container */
  overflow-x: auto;
  /* Enable horizontal scrolling if needed */
}

@media print {

  .doNotPrint {
    display: none !important;
  }

  table {
    border: 1px solid #075068f8 !important;
  }

  .tableHeader {
    color: #fff !important;
    background-color: #76a8b8f8 !important;
  }

  .brandcolor {
    margin-right: 75px !important;
  }

  h3 {
    text-align: center;
    color: #075068f8 !important;
    font-size: 18px !important;
  }

  mat-card-title {
    color: #075068f8 !important;
  }

  img {
    margin-left: 100px !important;
    bottom: 0 !important;
    color: #075068f8 !important;
  }

  .print-boarder {
    font-size: 16px !important;
  }

  .username {
    color: #075068f8 !important;
  }

  .data {
    text-align: center !important;
  }

  mat-card {
    page-break-inside: avoid;
  }

  .satisfied {
    color: green !important;
  }

  .disatisfied {
    color: red !important;
  }

  .onTarget {
    color: yellowgreen !important;
  }

  /* Disable scroll and enable wrapping during print */
  .comments-content {
    max-height: none; /* Remove height restriction */
    overflow-y: visible; /* Allow full content to display */
    overflow-x: visible; /* Ensure no horizontal scrollbars */
    white-space: normal; /* Enable text wrapping */
    word-wrap: break-word; /* Ensure long words are wrapped */
}

}


/* Set black background color, white text and some padding */
footer {
  background-color: #075068f8;
  bottom: 0;
  color: white;
  height: 1em;
  left: 0;
  position: fixed;
  width: 100%;
}

.username {
  color: #fff;
  position: absolute;
  right: 0px;
}

.cardContent {
  padding: 10px;
  margin: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f9f9f9;
  font-size: 14px !important;
}

/* On small screens, set height to 'auto' for sidenav and grid */
@media screen and (max-width: 767px) {
  .sidenav {
    height: auto;
    padding: 15px;
  }

  .row.content {
    height: auto;
  }
}