
.navbar {
    margin-bottom: 0;
    border-radius: 0;
  }
  
  /* Set height of the grid so .sidenav can be 100% (adjust as needed) */
  .row.content {height: 450px}
  
  /* Set gray background color and 100% height */
  .sidenav {
    padding-top: 20px;
    height: 125%;
    background-color: #f5f5f5;
    border: 1px solid #e3e3e3;
    border-radius: 4px;
  }

  .tableHeader{
    background-color: #075068f8 !important;
    color:white !important;
    font-family: Arial, Helvetica, sans-serif !important;
    font-weight: normal !important;
}

.titleHeader {
  text-align: center;
  color: white !important;
  background-color: #075068f8 !important;
}

.myFont{
  font-family: Arial, Helvetica, sans-serif !important;
  font-weight: normal !important;
}

.header {
  color: #075068f8 !important;
  font-size: 16px;
  font-family: Arial, Helvetica, sans-serif !important;
  font-weight: normal !important;
}
.title_center {
  display: flex;
  justify-content: center;
  align-items: center; 
  font-size: 16px !important;
}

.brandcolor {
  color: #075068f8;
}

.button {
  display: inline-block;
  padding: 10px 10px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #fff;
  background-color: #075068f8;
  border: none;
  border-radius: 15px;
  font-family: Arial, Helvetica, sans-serif !important;
  font-weight: normal !important;
}

.lineBreak{
  height:2px;
  border-width:0;
  background-color:#075068f8;
}
.rupee{
  font-family: 'Material Icons';
}

.buttonIcon{
  border: none;
  color: #075068f8;
  background-color: transparent;
}
  
.printIcon{
  border: none;
  color: #075068f8;
  background-color: transparent;
  padding-top:20px;
}
.settings{
  border: none;
  color: white;
  background-color: transparent;
  padding-top:20px;
}
.satisfied{
  color: green;
}
.disatisfied{
  color: red;
}
.onTarget{
  color: yellowgreen;
}

@media print{
  .doNotPrint{display:none !important;}
 table {
  border: 1px solid #075068f8 !important;
 }
 .tableHeader{
  color: #fff !important;
  background-color: #76a8b8f8 !important;
 }
 .brandcolor{
  margin-right: 75px !important;
 }
 h3 {
  text-align: center;
  color:#075068f8 !important;
  font-size: 18px !important;
 }
 mat-card-title {
  color: #075068f8 !important;
}
html {
  border: 2px solid #075068f8;
  }
img {
 margin-left: 100px !important;
 bottom: 0  !important;
 color: #075068f8 !important;
} 
.print-boarder{
  font-size: 16px !important;
  border: 2px solid #075068f8;
}
.username{
  right:0 !important;
  color: #075068f8!important;
}
.data{
  text-align: center !important;
}
}


  /* Set black background color, white text and some padding */
  footer {
    background-color: #075068f8;
    bottom: 0;
    color: white;
    height: 1em;
    left: 0;
    position: fixed;
    width:100%;
  }

  .username {
    color: #fff;
    position: absolute;
    right: 0px;
}

  /* On small screens, set height to 'auto' for sidenav and grid */
  @media screen and (max-width: 767px) {
    .sidenav {
      height: auto;
      padding: 15px;
    }
    .row.content {height:auto;} 
  }
