<div class="row content">
    <div class="col-sm-2 sidenav">
      <ul class="nav ">
        <li><a >PF</a></li>
        <li><a >NPS</a></li>
        <li><a >MutualFunds</a></li>
        <li><a >Equity</a></li>
        <li><a >PostOffice</a></li>
        <li><a >FixedDeposit</a></li>
      </ul>
    </div>
    <div class="col-sm-8"> 
     <div> <h1 class="text-center">Investment Details</h1>
      <p>Places holder for investments details</p> </div>
    </div>
    <div class="col-sm-2 sidenav">
      <div class="well">
        <p>Place holder for other details</p>
      </div>
    </div>
  </div>