
    <div class="row" >
        <mat-card class="title_center"  appearance="outlined">
            <mat-card-header class="header " >
                <mat-card-title>Income</mat-card-title>
            </mat-card-header>
            <mat-card-content>
                <div *ngFor="let data of incomeData">
                   <p> {{data.source}} - {{data.amount}}</p>
                  </div>
            </mat-card-content>
        </mat-card>
    </div>
    <div class="row">
        <mat-card  class="title_center" appearance="outlined">
            <mat-card-header class="header ">
                <mat-card-title>Top 5 Expense</mat-card-title>
            </mat-card-header>
            <mat-card-content>
                <div *ngFor="let data of expenseData">
                   <p> {{data.description}} - {{data.amount}}</p>
                  </div>
            </mat-card-content>
        </mat-card>
    </div>
    <div class="row">
        <mat-card  class="title_center" appearance="outlined">
            <mat-card-header class="header ">
                <mat-card-title>Income VS Expense</mat-card-title>
            </mat-card-header>
            <mat-card-content>
                <p>Income - {{totalIncome}} </p>
                <p>Expense - {{totalExpense}} </p>
                <p>Savings - {{ savings }}</p>
            </mat-card-content>
        </mat-card>
    </div>
