<div class="print-boarder">
    <div class="row" >
        <mat-card class="title_center"  appearance="outlined">
            <mat-card-header class="header ">
                    <mat-card-title>Income </mat-card-title>
            </mat-card-header>
            <mat-card-content>
                <div *ngFor="let data of incomeData"  class="data">
                   {{data.source}} - {{data.amount | currency: 'INR' }}
                    <button class="doNotPrint buttonIcon" (click)="deleteRow(data)"> <i class="fa fa-trash"></i> </button>
                  </div>
            </mat-card-content>
        </mat-card>
    </div>
    <div class="row">
        <mat-card  class="title_center" appearance="outlined">
            <mat-card-header class="header ">
                <mat-card-title>Top 5 Expense </mat-card-title>
            </mat-card-header>
            <mat-card-content>
                <div *ngFor="let data of expenseData" class="data">
                   {{data.description}} - {{data.amount | currency: 'INR' }}
                  </div>
            </mat-card-content>
        </mat-card>
    </div>
    <div class="row">
        <mat-card class="title_center" appearance="outlined">
            <mat-card-header class="header ">
                <mat-card-title>Status</mat-card-title>
            </mat-card-header>
            <mat-card-content>
               <div class="row">
                        <div class="row subHeader" >
                            <div class="col-xs-6">Income</div>
                            <div class="col-xs-6">Savings</div>
                        </div>
                        <div class="row" >
                            <div class="col-xs-6">{{totalIncome| currency: 'INR' }}</div>
                            <div class="col-xs-6">{{ savings| currency: 'INR'  }} </div>
                        </div>
                    <div class="row subHeader" >
                        <div class="col-xs-6">Estimated</div>
                        <div class="col-xs-6">Expense</div>
                    </div>
                    <div class="row" >
                        <div class="col-xs-6">{{estimate| currency: 'INR' }}</div>
                        <div class="col-xs-6"> {{totalExpense| currency: 'INR'}} </div>
                    </div>
                </div>
                    <div class="row" >
                        <div class="col-xs-12">
                            <div class="row subHeader">Expense Amount by Category</div>
                                <div class="row">Planned - {{plannedExpense | currency: 'INR' }} </div>
                                <div class="row">UnPlanned - {{unPlannedExpense | currency: 'INR' }}</div>
                                <div class="row">Investments - {{investmentExpense| currency: 'INR' }}</div>
                        </div>  
                    </div>
                    <p class="subHeader">Over All Expense Percentage - {{progress | number: '1.0-2'}}%</p>
                    <mat-progress-bar mode="determinate" [value]="progress" [color]="updateColor(progress)"></mat-progress-bar>
                </mat-card-content>
        </mat-card>
    </div>
</div>
