

<div class="container">
    <div class=" row">
        <div class="col-xs-6">

            <!--view table-->
            <table mat-table [dataSource]="dataSource" matSort>

                <!-- ExpenseYear Column -->
                <ng-container matColumnDef="year">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header class="tableHeader"> ExpenseYear </th>
                    <td mat-cell *matCellDef="let row"> {{row.year}} </td>
                </ng-container>

                <!-- ExpenseAmount Column -->
                <ng-container matColumnDef="amount">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header class="tableHeader"> ExpenseAmount </th>
                    <td mat-cell *matCellDef="let row"> {{row.amount}}</td>
                </ng-container>

                  <!-- IncomeAmount Column -->
                  <ng-container matColumnDef="incomeAmount">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header class="tableHeader"> Income Amount </th>
                    <td mat-cell *matCellDef="let row"> {{row.incomeAmount}}</td>
                </ng-container>
                  <!-- Savings Column -->
                  <ng-container matColumnDef="savings">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header class="tableHeader"> Savings </th>
                    <td mat-cell *matCellDef="let row"> {{row.savings}}</td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>
        </div>

        <div class="col-xs-6">
            <div class="well">
                <canvasjs-chart [options]="chartOptions"></canvasjs-chart>
              </div>
        </div>
    </div>
</div>