  <div class="row">
    <div class="col-md-10">
      <h3 class="text-center brandcolor">Expense Summary Details - {{selectedDate.getFullYear()}}</h3>
    </div>
    <div class="col-md-2 text-end doNotPrint">
      <button class="printIcon" [matTableDataSource]="dataSource" [paginator]="paginator" paginatorId="mat-paginator"
        [hidePaginator]="true" mat-raised-button [useExistingCss]="true"
      printTitle="Expense Summary Details-{{selectedDate.getFullYear()}}" type="button"
      printSectionId="print-summary" ngxPrint matTooltip="Print" matTooltipPosition="before">
        <mat-icon>print</mat-icon>
      </button>
    </div>
  </div>

  <hr class="lineBreak">

  <div class="row">
    <div class="col-md-8">
      <div class="row">
        <div class="col-md-4 doNotPrint">
          <mat-form-field class="w-100">
            <input matInput [matDatepicker]="dp2" placeholder="Select a Date" [(ngModel)]="selectedDate"
              (click)="openDatePicker(dp2)">
            <mat-datepicker-toggle matSuffix [for]="dp2"></mat-datepicker-toggle>
            <mat-datepicker #dp2 startView="multi-year" (yearSelected)="closeDatePicker($event, dp2)"></mat-datepicker>
          </mat-form-field>
        </div>
        <div class="col-md-4 doNotPrint">
          <mat-form-field class="w-100">
            <mat-icon matTextPrefix>search</mat-icon>
            <input matInput (keyup)="applyFilter($event)" #input>
          </mat-form-field>
        </div>
      </div>

      <div class="mat-elevation-z8 mt-3">
        <table mat-table [dataSource]="dataSource" matSort>
          <!-- Year Column -->
          <ng-container matColumnDef="year">
            <th mat-header-cell *matHeaderCellDef mat-sort-header class="tableHeader"> Year </th>
            <td mat-cell *matCellDef="let row"> {{row.year}} </td>
          </ng-container>

          <!-- Month Column -->
          <ng-container matColumnDef="month">
            <th mat-header-cell *matHeaderCellDef mat-sort-header class="tableHeader"> Month </th>
            <td mat-cell *matCellDef="let row"> {{row.month}}</td>
          </ng-container>

          <!-- Income Column -->
          <ng-container matColumnDef="income">
            <th mat-header-cell *matHeaderCellDef mat-sort-header class="tableHeader"> Income </th>
            <td mat-cell *matCellDef="let row"> {{row.income | inrFormat }}</td>
          </ng-container>

          <!-- Expense Column -->
          <ng-container matColumnDef="expense">
            <th mat-header-cell *matHeaderCellDef mat-sort-header class="tableHeader"> Expense </th>
            <td mat-cell *matCellDef="let row"> {{row.expense | inrFormat }} </td>
          </ng-container>

          <!-- Estimated Column -->
          <ng-container matColumnDef="estimated">
            <th mat-header-cell *matHeaderCellDef mat-sort-header class="tableHeader"> Estimated </th>
            <td mat-cell *matCellDef="let row"> {{row.estimated | inrFormat }} </td>
          </ng-container>

          <!-- Savings Column -->
          <ng-container matColumnDef="savings">
            <th mat-header-cell *matHeaderCellDef mat-sort-header class="tableHeader"> Savings </th>
            <td mat-cell *matCellDef="let row"> {{row.savings | inrFormat }} </td>
          </ng-container>

          <!-- Actions Column -->
          <ng-container matColumnDef="actionsColumn">
            <th mat-header-cell *matHeaderCellDef class="tableHeader"></th>
            <td mat-cell *matCellDef="let row;">
              <div *ngIf="row.expense <= row.estimated">
                <mat-icon class="satisfied">sentiment_very_satisfied</mat-icon>
              </div>
              <div *ngIf="row.expense > row.estimated">
                <mat-icon class="disatisfied">sentiment_very_dissatisfied</mat-icon>
              </div>
            </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

          <!-- Row shown when there is no matching data. -->
          <tr class="mat-row" *matNoDataRow>
            <td class="mat-cell" colspan="4">No data matching the filter "{{input.value}}"</td>
          </tr>
        </table>

        <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" aria-label="Select page" id="mat-paginator"
          showFirstLastButtons>
        </mat-paginator>
      </div>
    </div>

    <div class="col-md-4 right doNotPrint">
      <div class="well">
        <canvasjs-chart id="chart" [options]="chartOptions"></canvasjs-chart>
    </div>
  </div>
</div>