
<div class="container text-center fixedHeightContainer">
    <div class="row">
        <mat-toolbar role="toolbar" class="titleHeader">
            <div class="col-xs-10">
                <h4 class="myFont"> Add Estimate</h4>
            </div>
            <div class="col-xs-2">
                <button class="close" mat-button (click)="close()">X</button>
            </div>
        </mat-toolbar>
        <hr class="lineBreak">
    </div>
    <div class="row">
        <div class="col-xs-4">
        <mat-form-field>
            <input matInput [matDatepicker]="dp2" placeholder="Select a Date" [(ngModel)]="selectedDate"
              (click)="openDatePicker(dp2)">
            <mat-datepicker-toggle matSuffix [for]="dp2"></mat-datepicker-toggle>
            <mat-datepicker #dp2 startView="multi-year" (monthSelected)="closeDatePicker($event, dp2)"></mat-datepicker>
          </mat-form-field>
          </div>
        <div class="col-xs-8">
            <div class="col-xs-3">
                <button mat-button (click)="addRowData()" class="button" mat-flat-button color="primary">Add Row</button>
            </div>
            <div class="col-xs-2">
                <button mat-button (click)="saveRowData()" class="button" mat-flat-button color="primary">Submit</button>
            </div>
            <div class="col-xs-2">
                <button mat-button (click)="openClone()" class="button" mat-flat-button color="primary">Clone</button>
            </div>
        </div>
        </div>
    <table mat-table [dataSource]="dataSource" #mytable class="my-table mat-elevation-z8">

        <!-- Date Column -->
        <ng-container matColumnDef="date">
            <th mat-header-cell *matHeaderCellDef class="tableHeader"> Date </th>
            <td mat-cell *matCellDef="let element">
                <mat-form-field appearance="outline" class="customformat">
                    <input matInput [matDatepicker]="picker" placeholder="date" [(ngModel)]="element.date">
                    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-datepicker #picker></mat-datepicker>
                </mat-form-field>
            </td>
        </ng-container>

        <!-- description Column -->
        <ng-container matColumnDef="description">
            <th mat-header-cell *matHeaderCellDef class="tableHeader"> Description </th>
            <td mat-cell *matCellDef="let element">
                <mat-form-field>
                    <input matInput placeholder="Description" [value]="element.description"
                        [(ngModel)]="element.description">
                </mat-form-field>
            </td>
        </ng-container>

        <!-- Amount Column -->
        <ng-container matColumnDef="amount">
            <th mat-header-cell *matHeaderCellDef class="tableHeader"> Amount </th>
            <td mat-cell *matCellDef="let element">
                <mat-form-field>
                    <input matInput placeholder="Amount" [value]="element.amount" [(ngModel)]="element.amount">
                </mat-form-field>
            </td>
        </ng-container>

        <!-- Action Column -->
        <ng-container matColumnDef="action">
            <th mat-header-cell *matHeaderCellDef class="tableHeader doNotPrint"> Action </th>
            <td mat-cell *matCellDef="let row;" class="doNotPrint">
                <button class="buttonIcon" (click)="deleteRow(row)">
                    <i class="fa fa-trash"></i>
                </button>
            </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>

</div>